<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/GitHub_UW/BIP_DefinitionsAPI">
        <classes>
            <class name="restAssuredDefinitionsAPITest.API_ReportsAllTest_Refactored">
                <methods>
                    <include name="apiStatusCode200"/>
                    <include name="apiStatusCodeNot404"/>
                    <include name="apiStatusCodeNot500"/>
                    <include name="apiReportsAllCount"/>
                    <include name="api100PercentSponsorFundedFaculty"/>
                    <include name="apiAffixedPaymentDetail"/>
                    <include name="apiAidAuthorizedandDisbursedbyYear"/>
                    <include name="apiAidAuthorizedandDisbursedbyQuarter"/>
                    <include name="apiAllApplications"/>
                    <include name="apiBienniumToDateBudgetBalances"/>
                    <include name="apiBudgetSummaryByOrgCode"/>
                    <include name="apiBudgetTypeClassMatrix"/>
                    <include name="apiCampusApplicationCountsComparison"/>
                    <include name="apiClassListByCurriculumCourseSection"/>
                    <include name="apiContactInformationForUnmetRequest"/>
                    <include name="apiCostShareCommitmentsandContributions"/>
                    <include name="apiCourseSectionFillRates"/>
                    <include name="apiCurrentApplicationCountbyDepartmentandMajor"/>
                    <include name="apiCurrentStudentInformation"/>
                    <include name="apiCurrentStudentRegistrationCourses"/>
                    <include name="apiCurrentStudentTranscriptCourses"/>
                    <include name="apiCurrentStudentTranscriptQuarterlySummary"/>
                    <include name="apiCurrentStudentTransferSummary"/>
                    <include name="apiCurriculumCodes"/>
                    <include name="apiCustomBudgetIndexReportbyOrgCode"/>
                    <include name="apiDACSecuredTablesViewsbyRole"/>
                    <include name="apiDACSecuredTablesViewsColumns"/>
                    <include name="apiDegreeCodes"/>
                    <include name="apieFECSEffortReportingRetroactiveSalaryAdjustmentReport"/>
                    <include name="apiExpenseandRevenueTransferReport"/>
                    <include name="apiFASBatchSummaryReport"/>
                    <include name="apiFECDashboardActionList"/>
                    <include name="apiForecastingTemplatebyFiscalYearandOrgCode"/>
                    <include name="apiFreshmanApplicationsScoresandEthnicity"/>
                    <include name="apiAgencyFunds"/>
                    <include name="apiGiftBalanceDetailbyBudgetList"/>
                    <include name="apiGiftBalanceDetailbySpendingRestrictionandOrgCode"/>
                    <include name="apiGiftBalanceSummarybySpendingRestriction"/>
                    <include name="apiGLSummaryReport"/>
                    <include name="apiGLTransactionsbyMonth"/>
                    <include name="apiGrantandContractBudgetStatusReport"/>
                    <include name="apiGrantandContractDeficitReport"/>
                    <include name="apiHowManyCreditHoursByCollege"/>
                    <include name="apiHowManyDegreesByCollege"/>
                    <include name="apiHowManyStudentsUniversity"/>
                    <include name="apiHowManyStudentsByCampus"/>
                    <include name="apiHowManyStudentsByCollege"/>
                    <include name="apiHowManyStudentsByDepartment"/>
                    <include name="apiHowManyStudentsList"/>
                    <include name="apiImmunizationReport"/>
                    <include name="apiIndirectCostRecoveryEstimator"/>
                    <include name="apiInternalandExternalSalesSummaryReport"/>
                    <include name="apiJournalVoucherDetail"/>
                    <include name="apiLearningSpacesPolicy"/>
                    <include name="apiEmployeeSearch"/>
                    <include name="apiMajorCodes"/>
                    <include name="apiMinorCodes"/>
                    <include name="apiMiscellaneousStudentAccountsNontuitionChargeSummary"/>
                    <include name="apiMyReports"/>
                    <include name="apiNSFCompensationbyFiscalYear"/>
                    <include name="apiOrganizationBudgetRelationshipReport"/>
                    <include name="apiPaidFTEbyFundingSource"/>
                    <include name="apiPredominantlySponsorFundedFaculty"/>
                    <include name="apiRemainingBalancebyOrgCodeandCategory"/>
                    <include name="apiResearchAwards"/>
                    <include name="apiResearchBudgetExpenditures"/>
                    <include name="apiResearchProposalDetails"/>
                    <include name="apiResearchProposals"/>
                    <include name="apiResearchSubawards"/>
                    <include name="apiSalaryandWageExpenseDetail"/>
                    <include name="apiSalaryCapCostShareReport"/>
                    <include name="apiSatisfactoryProgressPolicyReport"/>
                    <include name="apiSEVISImmigrationReporting"/>
                    <include name="apiSMATHistory"/>
                    <include name="apiStudentDegreeInformation"/>
                    <include name="apiStudentGradeReportbyCourse"/>
                    <include name="apiStudentGradeReportbyMajor"/>
                    <include name="apiStudentTranscriptDetail"/>
                    <include name="apiStudyAbroadStudents"/>
                    <include name="apiSupplierSearch"/>
                    <include name="apiTimeScheduleInformation"/>
                    <include name="apiTransactionSummarybyOrgCode"/>
                    <include name="apiUndergraduateDegreeApplicants"/>
                    <include name="apiUndergraduateTranscriptCourseSearchbyMajor"/>
                    <include name="apiUndergraduatesEligibletoRegister"/>
                    <include name="apiVariableReportingPeriodBudgetSummary"/>
                    <include name="apiVariableReportingPeriodTransactionSummary"/>
                    <include name="apiWhoAmI"/>
                    <include name="apiWhoHasAccess"/>
                    <include name="apiEmployeeHistorySummaryReport"/>
                    <include name="apiGrantandContractCertificationReport"/>
                    <include name="apiAcademicScholarshipList"/>
                    <include name="apiConsolidatedBudgetStatusReportR1"/>
                    <include name="apiConsolidatedBudgetStatusReportR2"/>
                    <include name="apiFacultyEffortCertificationFECSummary"/>
                    <include name="apiFiscalYearIncomeandExpenseSummarybyOrgCodeandFundingSource"/>
                    <include name="apiResearchPIProposalsandAwards"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>