<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/GitHub/DefinitionsAPI">
        <classes>
            <class name="restAssuredDefinitionsAPITest.API_KN_GlossaryTest">
                <methods>
                    <include name="apiStatusCode200"/>
                    <include name="apiStatusCodeNot404"/>
                    <include name="apiStatusCodeNot500"/>
                    <include name="apiAcademicPersonnelReportingTerms"/>
                    <include name="apiCommonDataSet"/>
                    <include name="apiEDWDataDictionary"/>
                    <include name="apiFinanceTerms"/>
                    <include name="apiGraduateSchoolTerms"/>
                    <include name="apiHRPayrollTerms"/>
                    <include name="apiInformationManagementTerms"/>
                    <include name="apiIPEDS"/>
                    <include name="apiMyFD"/>
                    <include name="apiResearchAdministrationTerms"/>
                    <include name="apiStudentDataTerms"/>
                    <include name="apiUniversityAdvancementTerms"/>
                </methods>
            </class>
            <class name="restAssuredDefinitionsAPITest.API_ReportTermsTest">
                <methods>
                    <include name="apiStatusCode200Test"/>
                    <include name="apiStatusCodeNot500Test"/>
                    <include name="lOOPercentSponsorFundedFaculty"/>
                    <include name="Twenty13BaseYearPaidFTEReport"/>
                    <include name="AdvanceBudgetNumberReport"/>
                    <include name="AffixedPaymentDetail"/>
                    <include name="AidAuthorizedandDisbursedbyYear"/>
                    <include name="AidAuthorizedandDisbursedbyQuarter"/>
                    <include name="AllApplications"/>
                    <include name="BienniumToDateBudgetBalances"/>
                    <include name="BudgetSummaryByOrgCode"/>
                    <include name="BudgetTypeClassMatrix"/>
                    <include name="BuildingSummarybyOrgCode"/>
                    <include name="BuildingSummarybyPrimaryUse"/>
                    <include name="CampusApplicationCountsComparison"/>
                    <include name="CashierActivityReport"/>
                    <include name="ClassListByCurriculumCourseSection"/>
                    <include name="CollegeSpaceDatabyFacility"/>
                    <include name="CollegeSpaceDatabyOrgCode"/>
                    <include name="AcademicOrganizationHierarchy"/>
                    <include name="ConsolidatedBudgetStatusReportMenu"/>
                    <include name="ContactInformationForUnmetRequest"/>
                    <include name="CostShareCommitmentsandContributions"/>
                    <include name="CourseSectionFillRates"/>
                    <include name="CurrentApplicationCountbyDepartmentandMajor"/>
                    <include name="CurrentStudentInformationByMajor"/>
                    <include name="CurrentStudentInformationByMinor"/>
                    <include name="CurrentStudentRegistrationCourses"/>
                    <include name="CurrentStudentTranscriptCourses"/>
                    <include name="CurrentStudentTranscriptQuarterlySummary"/>
                    <include name="CurrentStudentTransferSummary"/>
                    <include name="CurriculumCodes"/>
                    <include name="CustomBudgetIndexReportbyOrgCode"/>
                    <include name="DACSecuredTablesViewsbyRole"/>
                    <include name="DACSecuredTablesViewsColumns"/>
                    <include name="DailyAidandRefundCheckActivityFile"/>
                    <include name="DegreeCodes"/>
                    <include name="DegreesOrganizationAssociations"/>
                    <include name="eFECSEffortReportingRetroactiveSalaryAdjustmentReport"/>
                    <include name="ExpenseandRevenueTransferReport"/>
                    <include name="FacilityInformation"/>
                    <include name="FacilityRoomDetail"/>
                    <include name="FacultyEffortCertification"/>
                    <include name="FASBatchSummaryReport"/>
                    <include name="FECDashboardActionList"/>
                    <include name="FECDashboardReportbyFECCycle"/>
                    <include name="FECDashboardReportbyOrgCode"/>
                    <include name="FiscalYearIncomeandExpenseSummarybyOrgCodeandFunction"/>
                    <include name="FiscalYearIncomeandExpenseSummarybyOrgCodeandFundingSource"/>
                    <include name="FiscalYearIncomeandExpenseSummaryReportMenu"/>
                    <include name="ForecastingTemplatebyFiscalYearandOrgCode"/>
                    <include name="FreshmanApplicationsScoresandEthnicity"/>
                    <include name="AgencyFunds"/>
                    <include name="GiftBalanceDetailbyBudgetList"/>
                    <include name="GiftBalanceDetailbySpendingRestrictionandOrgCode"/>
                    <include name="GiftBalanceSummarybySpendingRestriction"/>
                    <include name="GLSummaryReport"/>
                    <include name="GrantandContractBudgetStatusReport"/>
                    <include name="GrantandContractCertificationReport"/>
                    <include name="GrantandContractDeficitReport"/>
                    <include name="GrantandGiftBudgetsUnassignedtoSpace"/>
                    <include name="PayrollCashMainPage"/>
                    <include name="HowManyCreditHoursByCollege"/>
                    <include name="HowManyDegreesByCollege"/>
                    <include name="HowManyStudentsUniversity"/>
                    <include name="HowManyStudentsByCampus"/>
                    <include name="HowManyStudentsByCollege"/>
                    <include name="HowManyStudentsByDepartment"/>
                    <include name="HowManyStudentsList"/>
                    <include name="ImmunizationReport"/>
                    <include name="IndirectCostRecoveryEstimator"/>
                    <include name="InternalandExternalSalesSummaryReport"/>
                    <include name="JournalVoucherDetail"/>
                    <include name="LearningSpacesPolicy"/>
                    <include name="FECDashboardActionListLegacy"/>
                    <include name="GLReconcilingReport"/>
                    <include name="GrantandContractCertificationReportLegacy"/>
                    <include name="MajorCodes"/>
                    <include name="MinorCodes"/>
                    <include name="MiscellaneousStudentAccountsNontuitionChargeSummary"/>
                    <include name="MyReports"/>
                    <include name="MyFDExpenseTransferVolumeReport"/>
                    <include name="NSFCompensationbyFiscalYear"/>
                    <include name="OrganizationBudgetRelationshipReport"/>
                    <include name="PaidFTEbyFundingSource"/>
                    <include name="PredominantlySponsorFundedFaculty"/>
                    <include name="RemainingBalancebyOrgCodeandCategory"/>
                    <include name="ResearchAwards"/>
                    <include name="ResearchBudgetExpenditures"/>
                    <include name="ResearchProposalDetails"/>
                    <include name="ResearchProposals"/>
                    <include name="ResearchSubawards"/>
                    <include name="RoomAssignmentDetailsbyDepartment"/>
                    <include name="SalaryandWageExpenseDetail"/>
                    <include name="SalaryCapCostShareReport"/>
                    <include name="SatisfactoryProgressPolicyReport"/>
                    <include name="SEVISImmigrationReporting"/>
                    <include name="SMATHistory"/>
                    <include name="SpaceDatabyDepartment"/>
                    <include name="StudentAthletesEarning"/>
                    <include name="StudentDegreeInformation"/>
                    <include name="StudentGradeReportbyCourse"/>
                    <include name="StudentGradeReportbyMajor"/>
                    <include name="StudentTranscriptDetail"/>
                    <include name="StudyAbroadStudents"/>
                    <include name="SupplierSearch"/>
                    <include name="TimeScheduleInformation"/>
                    <include name="MajorsCreditsDegreesByCollege"/>
                    <include name="TransactionSummarybyOrgCode"/>
                    <include name="UndergraduateDegreeApplicants"/>
                    <include name="UndergraduatesEligibletoRegister"/>
                    <include name="UseTaxBienniumSummary"/>
                    <include name="VariableReportingPeriodBudgetSummary"/>
                    <include name="VariableReportingPeriodTransactionSummary"/>
                    <include name="WhoAmI"/>
                    <include name="WhoHasAccess"/>
                    <include name="apiCount_100PercentSponsorFundedFaculty"/>
                    <include name="apiTerms_100PercentSponsorFundedFaculty"/>
                    <include name="apiCount_2013BaseYearPaidFTEReport"/>
                    <include name="apiTerms_2013BaseYearPaidFTEReport"/>
                    <include name="apiTerms_xxxTest"/>
                </methods>
            </class>
            <class name="restAssuredDefinitionsAPITest.API_ReportsAllTest">
                <methods>
                    <include name="apiStatusCode200"/>
                    <include name="apiStatusCodeNot404"/>
                    <include name="apiStatusCodeNot500"/>
                    <include name="apiReportsAllCount"/>
                    <include name="api100PercentSponsorFundedFaculty"/>
                    <include name="apiAdvanceBudgetNumberReport"/>
                    <include name="apiAffixedPaymentDetailTest"/>
                    <include name="apiAidAuthorizedandDisbursedbyYear"/>
                    <include name="apiAidAuthorizedandDisbursedbyQuarter"/>
                    <include name="apiAllApplicationsTest"/>
                    <include name="apiBienniumToDateBudgetBalances"/>
                    <include name="apiBudgetSummaryByOrgCode"/>
                    <include name="apiBudgetTypeClassMatrix"/>
                    <include name="apiBuildingSummarybyOrgCode"/>
                    <include name="apiBuildingSummarybyPrimaryUse"/>
                    <include name="apiCampusApplicationCountsComparison"/>
                    <include name="apiCashierActivityReport"/>
                    <include name="apiClassListByCurriculumCourseSectionTest"/>
                    <include name="apiCollegeSpaceDatabyFacility"/>
                    <include name="apiCollegeSpaceDatabyOrgCode"/>
                    <include name="apiConsolidatedBudgetStatusReportMenu"/>
                    <include name="apiContactInformationForUnmetRequest"/>
                    <include name="apiCostShareCommitmentsandContributions"/>
                    <include name="apiCourseSectionFillRatesTest"/>
                    <include name="apiCurrentApplicationCountbyDepartmentandMajor"/>
                    <include name="apiCurrentStudentInformation"/>
                    <include name="apiCurrentStudentInformationByMajor"/>
                    <include name="apiCurrentStudentInformationByMinor"/>
                    <include name="apiCurrentStudentRegistrationCourses"/>
                    <include name="apiCurrentStudentTranscriptCourses"/>
                    <include name="apiCurrentStudentTranscriptQuarterlySummary"/>
                    <include name="apiCurrentStudentTransferSummary"/>
                    <include name="apiCurriculumCodes"/>
                    <include name="apiCustomBudgetIndexReportbyOrgCode"/>
                    <include name="apiDACSecuredTablesViewsbyRole"/>
                    <include name="apiDACSecuredTablesViewsColumns"/>
                    <include name="apiDailyAidandRefundCheckActivityFile"/>
                    <include name="apiDegreeCodes"/>
                    <include name="apiDegreesOrganizationAssociations"/>
                    <include name="apieFECSEffortReportingRetroactiveSalaryAdjustmentReport"/>
                    <include name="apiExpenseandRevenueTransferReport"/>
                    <include name="apiFacilityInformation"/>
                    <include name="apiFacilityRoomDetail"/>
                    <include name="apiFacultyEffortCertificationFECDashboard"/>
                    <include name="apiFASBatchSummaryReport"/>
                    <include name="apiFECDashboardActionList"/>
                    <include name="apiFECDashboardReportbyFECCycle"/>
                    <include name="apiFECDashboardReportbyOrgCode"/>
                    <include name="apiFiscalYearIncomeandExpenseSummarybyOrgCodeandFunction"/>
                    <include name="apiFiscalYearIncomeandExpenseSummarybyOrgCodeandFundingSource"/>
                    <include name="apiFiscalYearIncomeandExpenseSummaryReportMenu"/>
                    <include name="apiForecastingTemplatebyFiscalYearandOrgCode"/>
                    <include name="apiFreshmanApplicationsScoresandEthnicity"/>
                    <include name="apiAgencyFunds"/>
                    <include name="apiGiftBalanceDetailbyBudgetList"/>
                    <include name="apiGiftBalanceDetailbySpendingRestrictionandOrgCode"/>
                    <include name="apiGiftBalanceSummarybySpendingRestriction"/>
                    <include name="apiGLSummaryReport"/>
                    <include name="apiGrantandContractBudgetStatusReport"/>
                    <include name="apiGrantandContractCertificationReport"/>
                    <include name="apiGrantandContractDeficitReport"/>
                    <include name="apiGrantandGiftBudgetsUnassignedtoSpace"/>
                    <include name="apiPayrollCashMainPage"/>
                    <include name="apiHowManyCreditHoursByCollege"/>
                    <include name="apiHowManyDegreesByCollege"/>
                    <include name="apiHowManyStudentsUniversity"/>
                    <include name="apiHowManyStudentsByCampus"/>
                    <include name="apiHowManyStudentsByCollege"/>
                    <include name="apiHowManyStudentsByDepartment"/>
                    <include name="apiHowManyStudentsListTest"/>
                    <include name="apiImmunizationReport"/>
                    <include name="apiIndirectCostRecoveryEstimator"/>
                    <include name="apiInternalandExternalSalesSummaryReport"/>
                    <include name="apiJournalVoucherDetail"/>
                    <include name="apiLearningSpacesPolicy"/>
                    <include name="apiFECDashboardActionListLegacy"/>
                    <include name="apiGLReconcilingReport"/>
                    <include name="apiGrantandContractCertificationReportLegacy"/>
                    <include name="apiMajorCodes"/>
                    <include name="apiMinorCodes"/>
                    <include name="apiMiscellaneousStudentAccountsNontuitionChargeSummary"/>
                    <include name="apiMyReports"/>
                    <include name="apiMyFDExpenseTransferVolumeReport"/>
                    <include name="apiNSFCompensationbyFiscalYear"/>
                    <include name="apiOrganizationBudgetRelationshipReport"/>
                    <include name="apiPaidFTEbyFundingSource"/>
                    <include name="apiPredominantlySponsorFundedFaculty"/>
                    <include name="apiRemainingBalancebyOrgCodeandCategory"/>
                    <include name="apiResearchAwards"/>
                    <include name="apiResearchBudgetExpenditures"/>
                    <include name="apiResearchProposalDetails"/>
                    <include name="apiResearchProposals"/>
                    <include name="apiResearchSubawards"/>
                    <include name="apiRoomAssignmentDetailsbyDepartment"/>
                    <include name="apiSalaryandWageExpenseDetail"/>
                    <include name="apiSalaryCapCostShareReport"/>
                    <include name="apiSatisfactoryProgressPolicyReport"/>
                    <include name="apiSEVISImmigrationReporting"/>
                    <include name="apiSMATHistory"/>
                    <include name="apiSpaceDatabyDepartment"/>
                    <include name="apiStudentAthletesEarning"/>
                    <include name="apiStudentDegreeInformation"/>
                    <include name="apiStudentGradeReportbyCourse"/>
                    <include name="apiStudentGradeReportbyMajor"/>
                    <include name="apiStudentTranscriptDetail"/>
                    <include name="apiStudyAbroadStudents"/>
                    <include name="apiSupplierSearch"/>
                    <include name="apiTimeScheduleInformation"/>
                    <include name="apiTransactionSummarybyOrgCode"/>
                    <include name="apiUndergraduateDegreeApplicants"/>
                    <include name="apiUndergraduatesEligibletoRegister"/>
                    <include name="apiUseTaxBienniumSummary"/>
                    <include name="apiVariableReportingPeriodBudgetSummary"/>
                    <include name="apiVariableReportingPeriodTransactionSummary"/>
                    <include name="apiWhoAmI"/>
                    <include name="apiWhoHasAccess"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>